/* global variable */
:root {
  --primary-color: rgb(0, 82, 204);
  --secondary-colour: coral;
  --third-colour: rgb(0, 82, 204);
  --header-text-size: 3.5rem;
  --subheader-text-size: 1.5rem;
  --section-text-size: 2rem;
  --body-font-size: 1.125rem;
  --link-font-size: 1.3rem;

  --header-small-screen-text-size: 2.5rem;
  --subheader-small-screen-text-size: 1rem;
  --section-small-screen-text-size: 1.5rem;
  --body-small-screen-font-size: 0.75rem;
  --link-small-screen-font-size: 1rem;

  --text-primary-colour: black;
  --text-secondary-colour: white;
}

html,
body {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: var(--body-font-size);
}

* {
  box-sizing: border-box;
}

/* CSS Created */

a {
  color: var(--primary-color);
  font-size: var(--link-font-size);
  padding-top: 2rem !important;
}

#navbar-name {
  color: var(--text-secondary-colour);
  font-size: var(--link-font-size);
}

#navbar-name:hover {
  text-decoration: var(--primary-color);
  color: var(--secondary-colour);
}

/* Navbar */
.container-navbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 1rem;
  background-color: rgb(86, 11, 173);
}

.navbar-right {
  align-items: center;
  font-size: 1rem;
  padding: 0 20px 0 0;
  color: var(--secondary-color);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0 3rem 0;
  background-color: rgb(72, 12, 168);
}

.header-item {
  text-align: center;
  color: var(--text-secondary-colour);
}

/* Footer */

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: flex-end;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}

.background {
  background-color: blue;
}

.image-container {
  width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  background-color: black;
}

.project-group-tools {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  background-color: rgb(222, 227, 229);
}

.project-group-image-tools {
  flex: repeat(6, 1fr);
  padding: 10px;
  display: block;
  width: auto;
}

/* Section group */
.section-group {
  /* padding: 2rem 3rem 1rem 3rem; */
  background-color: rgb(254, 254, 254);
}

/* Project Results */
.project-results {
  padding: 2rem 3rem 1rem 3rem;
  /* padding: 10px; */
  background: rgb(207, 214, 217);
  margin: 0 1rem !important;
}

.project-results1 {
  padding: -10px;
  background-color: var(--secondary-color);
  margin: 0 1rem !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
}

.project-results2 {
  padding: 0 3rem 1rem 3rem;
  margin-top: 50;
  background: rgb(207, 214, 217);
  background: linear-gradient(
    180deg,
    white 1%,
    rgba(207, 214, 217, 0.6951155462184874) 100%
  );
}

/* Project container - includes the title and body of each card*/
.container-project {
  padding: 0 1.25rem 0px 1.25rem;
  margin: 3rem 0 0 0;
  color: var(--secondary-color);
}

/* Project Group - includes the body of each card*/
.project-group {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

.project-group1 {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

/* Project Group Image - includes the image side of each card */
.project-group-image {
  flex: 30%;
  text-align: center;
  display: block;
  padding: 20px;
  margin: auto;
  object-fit: cover;
  max-width: 300px;
}

/* Project group Text - includes the text side of each card */
.project-group-text {
  flex: 70%;
  flex-wrap: wrap;
  margin: 3rem 3rem 1rem 3rem;
}

/* Texting and title sizes */

h1 {
  text-align: center;
  padding-top: 3rem;
  color: var(--secondary-color);
  font-size: var(--header-text-size);
}

h1:hover {
  text-decoration: var(--secondary-color);
  color: var(--secondary-colour);
}

.mainSubheader {
  text-align: center;
  color: var(--secondary-color);
  font-size: var(--subheader-text-size);
}

h2 {
  text-align: center;
  padding-top: 1rem;
  color: var(--primary-color);
  font-size: var(--section-text-size);
}

h2:hover {
  text-decoration: var(--primary-color);
  color: var(--secondary-colour);
}

h3 {
  align-items: center;
}

h4 {
  color-adjust: gray !important;
}

p {
  line-height: 2;
  text-align: justify;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* Check this ones */

.container-personal {
  background-color: #f2f2f2;
  padding: 2.5rem;
  color: black;
}
.text-image {
  display: flex;
  flex-direction: row;
}

img {
  max-width: 100%;
  border-radius: 10%;
}

.opacity {
  background-color: lightgray;
  max-width: 80%;
  border-radius: 50%;
}

.main-paragraph {
  padding: 2rem 8rem 0 8rem;
}

/* Technical description of projects page */
.subheader-gray {
  color: gray;
  text-align: center;
}

/* .logo-display {
  size: 1rem;
} */

/* Screen size */

@media (max-width: 1000px) {
  h1 {
    font-size: var(--header-small-screen-text-size);
  }

  h2 {
    font-size: var(--section-small-screen-text-size);
  }

  .mainSubheader {
    font-size: var(--subheader-small-screen-text-size);
  }

  a {
    font-size: var(--link-small-screen-font-size);
  }

  html,
  body {
    font-size: var(--body-small-screen-font-size);
  }

  .project-group-image {
    max-width: 300px;
  }

  .project-results,
  .project-results1,
  .project-results2,
  .section-group {
    padding: 0;
  }
}

/* Mobile view */
@media (max-width: 600px) {
  .project-group {
    flex-direction: column;
    font-size: var(--body-small-screen-font-size);
    padding: 0;
  }

  .project-group1 {
    flex-direction: column;
    font-size: 1rem;
    padding: 0;
  }

  .section-group {
    padding: 0;
  }

  /* additional text only available on desktop */
  .desktop-only {
    display: none;
  }

  .project-group-text {
    margin: 0rem 1rem 1rem 1rem;
  }
}
